<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="card instructions-card mx-auto">
    <div class="card-body text-center">
      <h2 class="card-title">Game Instructions</h2>
      <p class="card-text">
        The Monty Hall game is a probability puzzle where you choose one of three
        doors, behind one of which is a car and behind the other two are goats.
        After you make your choice, the host, Monty Hall, who knows what is behind
        each door, opens one of the remaining doors to reveal a goat. You then have
        the option to switch your choice to the other unopened door or stick with
        your original choice.
      </p>
      <button class="btn btn-secondary mt-3" routerLink="/menu">
        <i class="bi bi-x-circle"></i> Back to Menu
      </button>
    </div>
  </div>
</div>
